{{range $family, $controls := . -}}
---
title: "{{ $family }}"
description: "{{ $family }} reference"
keywords: "standards, compliance, security, 800-53, {{ $family }}"
---

<!-- This file is maintained within the docker/compliance GitHub
     repository at https://github.com/docker/compliance/. Make all
     pull requests against that repo. If you see this file in
     another repository, consider it read-only there, as it will
     periodically be overwritten by the definitive file. Pull
     requests which include edits to this file in other repositories
     will be rejected.
-->

{{- range $controls -}}
{{if .IsControlEnhancement -}}
### {{ .Number }} {{ .Title }}
{{else -}}
## {{ .Number }} {{ .Title }}
{{end}}
**Description:**

{{range .Statements -}}
{{ .Description }}
<ol type="a">
{{range .Statements -}}
<li>{{ .Description }}</li>
{{if .Statements}}
<ol type="1">
{{range .Statements -}}
<li>{{ .Description }}</li>    
{{end -}}
</ol>
{{end -}}
{{end -}}
</ol>
{{end}}
**Control Information:**

{{if .Components -}}
**Responsible role(s)** - Docker system

<table>
<tr>
<th>Component</th>
<th>Implementation Status(es)</th>
<th>Control Origin(s)</th>
</tr>
{{range $component := .Components -}}
<tr>
<td>{{ $component.Name }}</td>
<td>{{range $component.ImplementationStatuses}}{{ . }}<br/>{{end}}</td>
<td>{{range $component.ControlOrigins}}{{ . }}<br/>{{end}}</td>
</tr>
{{end -}}
</table>

{{else}}
**Responsible role(s)** - Organization
{{end -}}
{{end -}}
{{end -}}
